# flyctl launch added from .gitignore
# Dependencies
**/node_modules
.pnp
**/.pnp.js

# Testing
coverage

# Production
build
dist
dist-ssr

# Environment variables
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Logs
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

# Editor directories and files
**/.vscode/*
!**/.vscode/extensions.json
!**/.vscode/settings.json
**/.idea
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# Temporary files
**/.temp
**/.tmp

# Cache
**/.cache
**/.eslintcache
**/.stylelintcache

# Local development files
**/*.local

# Debug files
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# TypeScript
**/*.tsbuildinfo

# Optional npm cache directory
**/.npm

# Optional eslint cache
**/.eslintcache

# Optional stylelint cache
**/.stylelintcache

# Optional REPL history
**/.node_repl_history

# Output of 'npm pack'
**/*.tgz

# Yarn Integrity file
**/.yarn-integrity

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests
# Datasource local storage ignored files
.idea/dataSources
.idea/dataSources.local.xml
fly.toml
